<link href="CSS/tabla.css" rel="stylesheet" />

<ng-include src="urlAdmin"></ng-include>
<div class="page-wrapper">
    <div class="side-body">
        <br>
        <br>
        <h1>Productos más vendidos por compañía</h1>
        <canvas id="grafico1" width="120" height="30"></canvas>
        <br>
        <br>
        <h1>Productos más vendidos en total</h1>
        <canvas id="grafico2" width="120" height="30"></canvas>
        <br>
        <br>
        <h1>Cantidad de ventas por compañía</h1>
        <canvas id="grafico3" width="120" height="30"></canvas>
        <br>

    



</div>
</div>