<link href="CSS/logins.css" rel="stylesheet" />
<div class="container-fluid bloque1">
    <div class="row">
        <div class="container-fluid bloque2">
            <form class="formulario">
                <h3 class="form-encabezado" align="center">Ingreso de administrador</h3>
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <input type="number" class="form-control" placeholder="Cédula" ng-model="loginCedula" required autofocus>
                <input type="password" class="form-control"min="0" ng-model="loginPassword" placeholder="Contraseña" required>
                <button class="botoningresar btn-block" type="button" ng-click="loginAdministrador()">Ingresar</button>
            </form>
        </div>
    </div>
</div>
