<link href="CSS/admin.css" rel="stylesheet" />  
<div class="row">
    <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <button type="button" class="navbar-toggle" ng-click="abrirMenu()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="#">
                            Administrador
                        </a>
                    </div>
                </div>
            </div>

            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav" >
                    <li class="text-center">
                        <img src="assets/img/find_user.png" class="user-image img-responsive" />
                    </li>

                    <li>
                        <a href="#admin"><img src="assets/img/icono_clientes.png" class="fa fa-icono_clientes.png  fa-2x" />   Clientes</a>
                    </li>
                    <li>
                        <a href="#adminEmp"><img src="assets/img/icono_empleados.png" class="fa fa-icono_empleado.png  fa-2x" /> Empleado </a>
                    </li>
                    <li>
                        <a href="#adminproductos"><img src="assets/img/icono_medicamentos.png" class="fa fa-icono_medicamentos.png  fa-2x" /> Medicamentos </a>
                    </li>
                    <li>
                        <a href="#adminroles"><img src="assets/img/icono_roles.png" class="fa fa-icono_roles.png  fa-2x" />   Roles</a>
                    </li>
                    <li>
                        <a href="#adminsucursales"><img src="assets/img/icono_sucursales.png" class="fa fa-icono_sucursales.png  fa-2x" />   Sucursales</a>
                    </li>
                    <li>
                        <a href="#adminestadisticas"><img src="assets/img/icono_estadisticas.png" class="fa fa-icono_estadisticas.png  fa-2x" />  Estadisticas </a>
                    </li>
                    <li>
                        <a href="#salir"><img src="assets/img/icono_salir.png" class="fa fa-icono_salir.png  fa-2x" />  Salir </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>