<link href="CSS/admin.css" rel="stylesheet" />
<div class="row">
    <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <button type="button" class="navbar-toggle" ng-click="abrirMenu()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="#">
                            Sucursal
                        </a>
                    </div>
                </div>
            </div>

            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">
                    <li class="text-center">
                        <img src="assets/img/iconoSucu.png" class="user-image img-responsive" />
                    </li>

                    <li>
                        <a href="#sucursal">Pedidos nuevos</a>
                    </li>
                    <li>
                        <a href="#pedidosPreparados">Pedidos preparados</a>
                    </li>
                    <li>
                        <a href="#pedidosFacturados">Pedidos facturados </a>
                    </li>
                    <li>
                        <a href="#pedidosRetirados">Pedidos retirados</a>
                    </li>
                    <li>
                        <a href="#salir">  Salir </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>