<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">GasStationPharmacy</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#clientesPedidos">Pedidos</a></li>
            <li class="active"><a href="#clientesRecetas">Recetas</a></li>
            <li class="active"><a href="#clientesActDatos">Actualizar mis datos</a></li>
            <li class="active"><a href="#clientesConfig">Configuración</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#salir"><span class="glyphicon glyphicon-log-out"></span>Salir</a></li>

        </ul>
    </div>
</nav>