<link href="Content/bootstrap.css" rel="stylesheet"; />
<link href="CSS/principal.css" rel="stylesheet" />
    <div class="container-fluid block1">
        <h1 class="titulo" align="center">Gas Station Pharmacy</h1>
        <h2 class="segundotxt" align="center"><b>Ingresar como:</b></h2>
        <div class="row" align="center">
            <button type="button" class="clienteBoton " ng-click="logincliente()">Cliente</button>
            <button type="button" class="administradorBoton " ng-click="loginadministrador()">Administrador</button>
        </div>
    </div>