<link href="CSS/principal.css" rel="stylesheet" />
<h1 class="titulo" align="center">Gas Station Pharmacy</h1>
<h2 class="segundotxt" align="center" ><b>Ingresar como:</b></h2>

<div class="center-block">
    <div class="row" align="center">
        <div class="col-md-7">
            <button  type="button" class="clienteBoton" ng-click="logincliente()">Cliente</button>
        </div>
        <div class="col-md-1">
            <button type="button"class="administradorBoton" ng-click="loginadministrador()">Administrador</button>
        </div>
    </div>
</div>